# Razorpay API Credentials
# Get your Test/Live keys from https://dashboard.razorpay.com/app/keys
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_51NgQ1CreatorOS
RAZORPAY_KEY_ID=rzp_test_51NgQ1CreatorOS
RAZORPAY_KEY_SECRET=Secret_Key_For_Razorpay_Production_Verification

# CreatorOS Bharat Platform Settings
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_CURRENCY=INR
NEXT_PUBLIC_UPI_VPA=creator@okaxis
